/*CSS Reset-Lite*/
*,::before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Imported fonts*/
@font-face{
    font-family: Kumbh-Sans;
    src:url(https://fonts.google.com/specimen/Kumbh+Sans);

}
/* Main area */

body{
    max-height: 722px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(25, 161, 173);
    background-image: url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    /* background-position: right 50vw bottom 50vh, left 50vw top 50vh; */
    background-position: right 800px bottom 300px, left 800px top 300px;
    overflow: hidden;
}
body main{
    margin: 10%;
}

/* Profile card component */
.profile-card-component{
    font-family: "Kumbh-Sans", sans-serif;
    overflow: hidden;
    /* height: 370px; */
    height: 374px;
    /* width: 350px; */
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-shrink: inherit;
    background-color: white;
    border-radius: 5%;
}
/* Card background pattern */
.profile-card-component .card-background{
    height: 133px;
    width: 100%;
    overflow:visible;

}
.profile-card-component .card-background img{
    height: 100%;
    width: 100%;
    /* overflow:unset; */
}

/******************Card Container************************/
.profile-card-component .card-container{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    justify-content: center;
    align-items: center;
    bottom:80px;
    width: 100%;
}
/* Profile Picture */
.profile-picture-icon{
    box-sizing: content-box;
    border-radius: 50%;
    border: 5px solid white ;
    width:96px;
    margin-top:25px;
    margin-bottom: 0px;
    /* margin-left: 60px; */
}
.profile-picture-icon img{
    border-radius: 50%;
}
/* Card Component's Section element */
section .user-base-info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    /* background-color: black; */

}

section   .data-hr{
    margin-top: 50px;
    margin-bottom: 0px;
    width: 350px;
    background-color: hsla(0, 0%, 59%, 0.281);
}
section .user-base-info .base-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}
section .user-base-info .base-data .user-age{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}
section .user-base-info .base-data .user-age, section .user-base-info .location{
    color: hsl(0, 0%, 59%);
    font-weight: 500;
    font-size:18px ;
}

/* Profile Stats */
section  .profile-stats{
    display:flex;
    flex-direction: row;
    list-style: none;
        justify-content: space-evenly;
    height: 50px;
    padding:0;
    margin-top:0px;
}
section  .profile-stats .profile-stats-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin: 5px;
}
/* section .user-base-info .profile-stats .profile-stats-unit .stat-count{
    margin: 5px 0px;
} */
/* section .user-base-info .profile-stats .profile-stats-unit > .stat-count{
    margin:0;
    font-size: 15px;
} */
.profile-card-component .card-container section  .profile-stats .profile-stats-unit >  a{
    font-size: 15px;
    color: hsl(0, 0%, 59%);
    font-weight: 500;
    text-decoration: none;
    /* background-color: blue; */
}
/* hover pseudo-class */
section .user-base-info .profile-stats .profile-stats-unit >  a:hover{
    font-size: 15px;
    /* color: hsl(233, 100%, 2%); */
    color: hsl(228, 5%, 20%);
    font-weight: 700;
    text-decoration: none;
    
}

section .user-base-info .base-data .username, section  .profile-stats .profile-stats-unit > .stat-count{
    font-size: 18px;
    font-weight: 700;
}
/* Media Query for mobile */
@media(max-device-width:375px){
    body{
        display: flex;
        justify-content: center;
        justify-items: center;
        height: inherit;
        width: 375px;
        margin: 0 auto;
    }
    /* Profile Card Component */
    .profile-card-component{
        display: flex;
        height: 621px;
        width: 564px;
        /* height: 414px;
        width: 376px; */
        position: relative;
        /* position: absolute; */
        top:120px;
        bottom:30%;
        left:175px;
        /* right:30px; */
        /* right:50%; */
    }
    .profile-card-component .card-background{
        height: 199.5px;
        width: 100%;
    }
    .profile-picture-icon{
        width: 154px;
        height: 154px;

    }
    .profile-picture-icon img{
        width: 154px;
        height: 154px;
    }
    .profile-card-component  .card-container{
        height: 444px;
        width: 525px;
    }

    /* BG Pattern */
    .bg-pattern{
        width:375px;
        height: 700px;
    }
    .bg-pattern-top{
        position: relative;
        right: 500px;
        rotate: 50deg;
    }
    .bg-pattern-bottom{
        position: relative;
        top:-350px;
        bottom: 600px;
        right: 50px;
        left:400px;
        rotate: 50deg;
    }
    .attribution{
        position: relative;
        left:110px;
        top:500px;
    }
}